{% extends "base.html" %}

{% block content %}
<div class="box">
    <div class="login-field middle">
        <div class="sectionTitle ">
            Change password
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/profile/change_password">
            <div class="property">
                Old password
            </div>
            <div class="field middle">
                <div class="control">
                    <input class="input is-large" type="password" name="old_password" placeholder="Password">
                </div>
            </div>
            <div class="property">
                New password
            </div>
            <div class="field middle">
                <div class="control">
                    <input class="input is-large" type="password" name="new_password1" placeholder="Password">
                </div>
            </div>
            <div class="property">
                Retype password
            </div>
            <div class="field middle">
                <div class="control">
                    <input class="input is-large" type="password" name="new_password2" placeholder="Password">
                </div>
            </div>
            <button class="submit" name="submit">Change</button>
        </form>
    </div>
</div>
{% endblock %}